<div class="pensamento {{ pensamento_componente.modelo }} ff-roboto-mono" [ngClass]="larguraPensamento()">
  <img src="/assets/imagens/{{ pensamento_componente.modelo }}.png" alt="Aspas coloridas">
  <p class="conteudo">{{ pensamento_componente.conteudo }}</p>
    <p class="autoria"><b>{{ pensamento_componente.autoria }}</b></p>
    <div class="acoes">
        <button class="botao-editar">
            <img src="/assets/imagens/icone-editar.png" alt="Ícone de editar">
        </button>
        <button class="botao-excluir" routerLink="/pensamentos/excluirPensamento/{{pensamento_componente.id}}">
            <img src="/assets/imagens/icone-excluir.png" alt="Ícone de excluir">
        </button>
    </div>
</div>
